In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder, StandardScaler 
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from lightgbm import LGBMClassifier
from category_encoders import OneHotEncoder
from sklearn.model_selection import cross_val_predict
from warnings import filterwarnings
from sklearn.impute import SimpleImputer
from sklearn.model_selection import StratifiedKFold
filterwarnings('ignore')
import os

In [1]:
import numpy as np 
import pandas as pd 

import re
#import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# Going to use these 5 base models for the stacking
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, 
                              GradientBoostingClassifier, ExtraTreesClassifier)
from sklearn.svm import SVC
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import VotingClassifier
import seaborn as sns
from scipy.stats import ttest_ind
from plotnine import *
# import os
# print(os.listdir("../input"))

SEED = 0

In [2]:
# Load in the train and test datasets
train = pd.read_csv('/Users/momori1/Documents/data/titanic/train.csv')
test = pd.read_csv('/Users/momori1/Documents/data/titanic/test.csv')

# Store our passenger ID for easy access
PassengerId = test['PassengerId']

train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
def check_na_distribution(*dataframes):
    '''
    print out % of values which are nan and columns which have nan values
    for two dataframe input, it should be [train, test] to match the output columns
    ex: check_na_distributions(train, test)
    '''
    if len(dataframes)==2:
        columns = ['train_na_pct','test_na_pct']
    elif len(dataframes)==1:
        columns = ['na_pct']
    else:
        raise Exception("too many datafrmaes")
        
    output = pd.DataFrame()
    for i, df in enumerate(dataframes):
        calculated_df = pd.DataFrame(100*df.isna().sum()/df.shape[0],columns=[columns[i]])
        output = pd.merge(output, calculated_df,  left_index=True, right_index=True, how='outer')
        
    output = output.sort_values(output.columns[0], ascending=False)
    col_sums = output.sum(axis=1)
    
    return output, col_sums.where(col_sums>0).dropna().index.values


def run_ttest(train, test, exclude_numeric_cols=[], exclude_cat_columns=[]):
    '''
    runs column wise ttest to see how different the distributions are.
    The function drops nan values when calculating the pvalue.
    '''
    assert isinstance(exclude_numeric_cols, list), 'Not list'
    assert isinstance(exclude_cat_columns, list), 'Not list'

    results = []
    
    # get numeric columns which are common to train and test
    train_numeric = train.select_dtypes(include=np.number).columns.values
    test_numeric = test.select_dtypes(include=np.number).columns.values
    numeric_columns = set(train_numeric).intersection(set(test_numeric))
    
    for col in numeric_columns:
        if col in exclude_numeric_cols:
            continue
        abs_pval = np.abs(ttest_ind(train[~train[col].isna()][col], test[~test[col].isna()][col])[1])
        results.append((col, abs_pval))
    
    # get categorical columns
    train_cat = train.select_dtypes(exclude=np.number).columns.values
    test_cat = test.select_dtypes(exclude=np.number).columns.values
    cat_columns = set(train_cat).intersection(set(test_cat))
    cat_columns = list(cat_columns.difference(exclude_cat_columns))
    
    # dummy the dataframe and get all columns
    train_dummy = pd.get_dummies(train[cat_columns])
    test_dummy = pd.get_dummies(test[cat_columns])
    total_cat_columns = set(train_dummy.columns).union(set(test_dummy.columns))
    
    for col in total_cat_columns:
        abs_pval = np.abs(ttest_ind(train_dummy[~train_dummy[col].isna()][col],\
                                    test_dummy[~test_dummy[col].isna()][col])[1])
        results.append((col, abs_pval))
        
    return pd.DataFrame(results,columns=['column','abs_pval']).sort_values('abs_pval',ascending=True)

In [4]:
run_ttest(train,test, exclude_cat_columns=['Ticket','Name','Cabin'])

         column       abs_pval
1   PassengerId  6.293754e-302
7    Embarked_S   4.718391e-03
9    Embarked_C   2.075341e-02
10   Embarked_Q   1.722158e-01
2         SibSp   2.207671e-01
4          Fare   2.651768e-01
3        Pclass   3.858475e-01
0           Age   5.494539e-01
6      Sex_male   6.928341e-01
8    Sex_female   6.928341e-01
5         Parch   8.341444e-01

In [5]:
# columns with nulls: array(['Cabin', 'Age', 'Embarked', 'Fare'], dtype=object)
full = [train,test]

for df in full:
    df['Cabin'].fillna(0, inplace=True)
    
for df in full:
    df['Age'].fillna(df['Age'].median(),inplace=True)
    
for df in full:
    df['Embarked'].fillna('S',inplace=True)
    
for df in full:
    df['Fare'].fillna(df['Fare'].median(),inplace=True)

In [6]:
# FE from cabin
for df in full:
    df['cabin_num'] = df['Cabin'].apply(lambda x: len(x.split()) if x!=0 else x)
    df['cabin_alpha'] = df['Cabin'].apply(lambda x: str(x)[0])

In [7]:
for df in full:
    df['sibparch'] = df['SibSp'] + df['Parch'] + 1
    df['IsAlone'] = 1
    df['IsAlone'].loc[df['sibparch'] > 1] = 0
    
    df['Title'] = df['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
    df['FareBin'] = pd.qcut(df['Fare'], 4)
    df['AgeBin'] = pd.cut(df['Age'].astype(int), 5)

In [8]:
label = LabelEncoder()

for dataset in full:
    dataset['Sex_Code'] = label.fit_transform(dataset['Sex'])
    dataset['Embarked_Code'] = label.fit_transform(dataset['Embarked'])
    dataset['Title_Code'] = label.fit_transform(dataset['Title'])
    dataset['AgeBin_Code'] = label.fit_transform(dataset['AgeBin'])
    dataset['FareBin_Code'] = label.fit_transform(dataset['FareBin'])

In [9]:
train_x_columns = ['Sex','Pclass', 'Embarked', 'Title','SibSp', 'Parch', 'Age', 'Fare', 'sibparch', 'IsAlone']
train_x_bins = ['Sex_Code','Pclass', 'Embarked_Code', 'Title_Code', 'sibparch', 'AgeBin_Code', 'FareBin_Code']

In [14]:
target_column = "Survived"
id_column = "id"
categorical_cols = [c for c in test.columns if test[c].dtype in [np.object]]
numerical_cols = [c for c in test.columns if test[c].dtype in [np.float, np.int] and c not in [target_column, id_column]]
print("Number of features", len(categorical_cols)+len(numerical_cols))

Number of features 21

In [ ]:
classifier = make_pipeline(
    ColumnTransformer([
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(), categorical_cols),    
    ]),
    LGBMClassifier(n_jobs=-1,learning_rate=0.02,num_tree=100,lambda_l1=5,max_bin=512)
)

In [ ]:
classifier = make_pipeline(
    ColumnTransformer([
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(), categorical_cols),    
    ]),
    LGBMClassifier(n_jobs=-1,learning_rate=0.02,num_tree=100,lambda_l1=5,max_bin=512)
)

In [ ]:
oof_pred = cross_val_predict(classifier, 
                             train, 
                             train[target_column], 
                             cv=3,
                             method="predict_proba")

In [10]:
train_columns = train_x_columns + train_x_bins

In [14]:
train_x = pd.get_dummies(train[train_columns])
test_x = pd.get_dummies(test[train_columns])
train_y = train['Survived']

In [15]:
train_x, test_x = train_x.align(test_x, join='left', axis=1)
test_x.fillna(0, inplace=True)

In [16]:
train_x.shape, test_x.shape

((891, 40), (418, 40))

In [38]:
rf_params = {
    'random_state':[SEED],
    'n_estimators':[10, 20, 30],
    'min_impurity_decrease':[0, 0.01, 0.1],
    'max_depth':[5,10, None]
}

# AdaBoost parameters
ada_params = {
    'n_estimators': [10, 15],
    'learning_rate' : [0.3, 0.6, 1.0, 2.0],
    'random_state':[SEED]
}

ext_params = {
    'n_estimators':[5, 10, 20, 30],
    'max_depth': [None, 10, 20, 30],
    'random_state':[SEED],
    'class_weight':[None, 'balanced']
}

params = [rf_params, ada_params, ext_params]
models = [RandomForestClassifier(), AdaBoostClassifier(), ExtraTreesClassifier()]

In [89]:
class ModelHelper(object):
    def __init__(self, models, params, cv=5):
        self._models = models
        self._params = params
        self._cv = cv
        self.best_models = []
        
    def fit(self, train_x, train_y):
        outputs = []
        for i, model in enumerate(self._models):
            param = self._params[i]
            gs_model = GridSearchCV(model, param, cv=self._cv).fit(train_x, train_y)
            scores = cross_val_score(gs_model.best_estimator_, train_x, train_y, cv=self._cv)
            self.best_models.append(gs_model.best_estimator_)
            outputs.append([model.__class__.__name__, scores.mean(), scores.min(), scores.max()])
        self.fitted_results = pd.DataFrame(outputs, columns=['model', 'mean', 'min', 'max'])
        return self.fitted_results
    
    def predict(self, train_x):
        result = pd.DataFrame()
        columns = []
        for model in self.best_models:
            result[model.__class__.__name__] = model.predict(train_x)
        self.model_predictions = result
        return result
    
    def heatmap(self):
        sns.heatmap(mh.model_predictions.corr(), annot=True)
        
    def predict_proba(self, train_x):
        result = pd.DataFrame()
        columns = []
        for model in self.best_models:
            result[model.__class__.__name__] = [i[0] for i in model.predict_proba(train_x)]
        self.model_predictions_proba = result
        return result

In [90]:
mh = ModelHelper(models, params)
mh.fit(train_x, train_y)

                    model      mean       min       max
0  RandomForestClassifier  0.827197  0.792135  0.864407
1      AdaBoostClassifier  0.821585  0.808989  0.847458
2    ExtraTreesClassifier  0.811504  0.787709  0.837079

In [91]:
model_predictions = mh.predict(train_x)
model_predictions.head(3)

   RandomForestClassifier  AdaBoostClassifier  ExtraTreesClassifier
0                       0                   0                     0
1                       1                   1                     1
2                       1                   1                     1

In [92]:
model_predictions_proba = mh.predict_proba(train_x)
model_predictions_proba.head(3)

   RandomForestClassifier  AdaBoostClassifier  ExtraTreesClassifier
0                0.920617            0.558512              0.841111
1                0.022290            0.434173              0.000000
2                0.489159            0.484764              0.466549

In [95]:
gs_rf = GridSearchCV(RandomForestClassifier(), rf_params, cv=5)
gs_rf.fit(train_x, train_y)
scores_rf = cross_val_score(gs_rf.best_estimator_,model_predictions, train_y, cv=5)
scores_rf.mean()

0.913607552627202

In [96]:
gs_rf = GridSearchCV(RandomForestClassifier(), rf_params, cv=5)
gs_rf.fit(train_x, train_y)
scores_rf = cross_val_score(gs_rf.best_estimator_,model_predictions_proba, train_y, cv=5)
scores_rf.mean()

0.9091384916662145

In [26]:
gs_ext = GridSearchCV(ExtraTreesClassifier(), ext_params, cv=5)
gs_ext.fit(train_x, train_y)
scores_ext = cross_val_score(gs_ext.best_estimator_, train_x, train_y, cv=5)
scores_ext.mean()

0.8115037412400298

In [35]:
# ada_predictions = [i[0] for i in gs_ada.best_estimator_.predict_proba(train_x)]
# rf_predictions = [i[0] for i in gs_rf.best_estimator_.predict_proba(train_x)]
# ext_predictions = [i[0] for i in gs_ext.best_estimator_.predict_proba(train_x)]

# train_combined = pd.DataFrame(list(zip(ada_predictions, rf_predictions, ext_predictions)))

In [36]:
ada_predictions = [i for i in gs_ada.best_estimator_.predict(train_x)]
rf_predictions = [i for i in gs_rf.best_estimator_.predict(train_x)]
ext_predictions = [i for i in gs_ext.best_estimator_.predict(train_x)]

train_combined = pd.DataFrame(list(zip(ada_predictions, rf_predictions, ext_predictions)))

In [37]:
stacked_model = GridSearchCV(RandomForestClassifier(), rf_params, cv=5)
stacked_model.fit(train_combined, train_y)
scores_stacked = cross_val_score(stacked_model.best_estimator_,train_x, train_y, cv=5)
scores_stacked.mean()

0.8204614036450272